<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VideoBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <VideoBrowser.Properties.Settings>
      <setting name="DownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0,0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="LastUrl" serializeAs="String">
        <value>https://yoyokits.github.io/VideoBrowser/welcome.html</value>
      </setting>
      <setting name="ShowMaxSimDownloads" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxSimDownloads" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </VideoBrowser.Properties.Settings>
  </userSettings>
</configuration>